<form action="/result" method="post">
  <div class="form-group">
    <label for="places">Places you have been:</label>
    <input class="form-control" type="text" name="places" id="places">
  </div>
  <div class="form-group">
    <label for="time">When you where there?:</label>
    <input class="form-control" type="date" name="time" id="time">
  </div>
  <button type="submit" name="button">View</button>
</form>
<form action="/reset" method="post">
  <button type="submit">Reset</button>
</form>
